<div class="container">
    <div class="row">
        <div class="col-sm">
            NOMBRE
        </div>
        <div class="col-sm">
            APELLIDO
        </div>
        <div class="col-sm">
           PAIS
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{actorDetalles.nombre}}
        </div>
        <div class="col-sm">
            {{actorDetalles.apellido}}
        </div>
        <div class="col-sm">
            {{actorDetalles.pais}}
        </div>
    </div>
</div>
